################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/1_147_2020/v16
/.vs/1_147_2020/.vs
/.vs
